# MongoDB connection details
MongoClientURI= "mongodb://<ip>:<port>"

# Database connection details
DATABASE_DWH= "mysql+pymysql://<user>:<password>@<ip>:<port>/<database>"

# Paths to your SSL certificate files
SSL_CA= /path/to/ca.pem
SSL_CLIENT_CERT= /path/to/client-cert.pem
SSL_CLIENT_KEY= /path/to/client-key.pem
