# Database connection details
DATABASE_HOST= ip:port
DATABASE_USER= username
DATABASE_PASSWORD= password
DATABASE_NAME= DWH

# Paths to your SSL certificate files
SSL_CA= /path/to/ca.pem
SSL_CLIENT_CERT= /path/to/client-cert.pem
SSL_CLIENT_KEY= /path/to/client-key.pem
