# ML Requirements
torch
torchvision
torchaudio
transformers
pandas
numpy
regex

# DB Requirements
pymongo
chromadb

# NLP Requirements
# langchain
# pip install flash-attn
# pip install accelerate  # For Llama
# pip install sentencepiece  # For Mistral Tokenizer
# https://github.com/langflow-ai/langflow?tab=readme-ov-file#-get-started
